# Mengabaikan aset tampilan agar tidak mendominasi
*.tex linguist-vendored
*.html linguist-vendored
*.css linguist-vendored

# Memastikan file Kivy tetap dihitung sebagai bahasa pemrograman
*.kv linguist-language=Kivy
*.kv linguist-detectable=true
