# Sembunyikan TeX dan aset tampilan dari bar statistik
*.tex linguist-documentation
*.html linguist-documentation
*.css linguist-documentation

# Tampilkan Python dan Kivy secara proporsional
*.py linguist-detectable=true
*.kv linguist-language=Kivy
*.kv linguist-detectable=true
